<%-include('navbar.ejs')%>
<div class="container">
    <div class="row ">
        <div class="col-md-12 p-0 ">
            <h1 class="heading rounded pb-2 ps-4 ">Who Are You</h1>
        </div>
    </div>
</div>
<form action="/admin/who_are_you" method="post" enctype="multipart/form-data">

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-2 mb-2">
            <label for="">Who Are You Image</label>
            <input type="file" name="who_are_you_image" value="" placeholder="Slider Image" class="form-control">
            <br>
        </div>  
        <div class="col-md-6 mt-2 mb-2">
          <img src="/uploads/<%=who_are_you[0].who_are_you_image%>" width="200" alt="">  
        </div>

            <div class="col-md-6 mt-2 mb-2">
            <div class="form-group">
                <label for=""> heading</label>
                <input type="text" name="who_are_you_heading" value="<%=who_are_you[0].who_are_you_heading%>" placeholder="first heading" class="form-control">

                <br>
            </div>
            </div>
            <div class="col-md-6 mt-2 mb-2">
                <div class="form-group">
                    <label for="">Sub heading</label>
                    <input type="text" name="who_are_you_sub_heading" value="<%=who_are_you[0].who_are_you_sub_heading%>" placeholder="first heading" class="form-control">
    
                    <br>
                </div>
                </div>
        <div class="col-md-6 mt-2 mb-2">
                <label for="">Description</label>
                <input type="text" name="who_are_you_description" value="<%=who_are_you[0].who_are_you_description%>" placeholder="Main heading" class="form-control">
                <br>
            </div>          
        <div class="col-md-12 mt-2 mb-2 text-center">
        <button class="btn btn-primary">save Now</button>
        </div>

    </div>
</div>
</div>
</form>

<%-include('footer.ejs')%>